*{
    margin: 0;
    padding: 0;
}
body{
   height: 100%;
   width: 100%;
   
    

}
.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red !important; */
}
.navbar-nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow !important; */
}
.main{
    height: 90vh !important;
    width: 100vw  !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/INDIAN.webp);
    background-size: cover;
}
.d{
    height: 85%;
    width: 70%;
    background-color: gold !important;
    box-shadow:5px 5px 5px blue;
    opacity: .3;
    clip-path: polygon(0 7%, 20% 11%, 20% 0, 82% 0, 83% 13%, 100% 9%, 84% 59%, 54% 87%, 85% 100%, 15% 100%, 48% 87%, 13% 57%);
}
